@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <label for="LongUrl">Enter a long url</label>
    <input type="text" id="LongUrl" name="LongUrl" value="@Model.LongUrl" />
    <input type="submit" value="Shorten" />
</form>
